.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: linear-gradient(#EAC6C6, #3E1C27)
}

.formLabel {
  font-family: 'Poiret One';
  font-size: 30px;
}

.selections {
  font-family: 'Poiret One';
  font-size: 20px;
}

#startGameButton {
  font-family: 'Arima Madurai';
  font-size: 20px;
}

#gameTitle {
  font-family: 'Parisienne';
  font-size: 60px;
}

#scoreContainer {
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 25px;
  width: 150px;
}

#scoreText {
  font-family: 'Niconne';
  font-size: 30px;
}
