.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.ui.form .inline.field>:first-child, .ui.form .inline.fields .field>:first-child {
  margin:0;
}

.ui.form .inline.field>label, .ui.form .inline.field>p, .ui.form .inline.fields .field>label, .ui.form .inline.fields .field>p, .ui.form .inline.fields>label {
  width:290px!important;
  text-align:left;
}

.form-select-container {
  width:100%;
}

.ui.form {
  margin-top: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: linear-gradient(#EAC6C6, #3E1C27);
  background-repeat:no-repeat;
  background-attachment:fixed;
}

#startGameButton {
  font-family: 'Kurale';
  color: black;
  background-color: #A9C4DF;
  margin-top:20px;
}

#navbarHomeButton, #navbarLogoutButton {
  font-family: 'Kurale';
  font-size: 15px;
  color: black;
  background: #A9C4DF;
}

#startGameForm {
  margin-top:20px;
}

.ui.form .inline.field>:first-child, .ui.form .inline.fields .field>:first-child {
  margin-bottom:10px;
}

.form-select-container {
  margin-bottom:10px;
}

.form-select-container label {
  width:400px;
}

.inline {
  display:inline-block;
  font-family: 'Kurale';
  font-size: 20px;
}

.inline-inner {
  width:325px;
  font-size:30px;
  font-family: 'Kurale';
}

.answer {
  width:45%;
  float:left;
  margin-bottom:20px;
}

.answer-btn {
  width:80%;
}

#navbarButtonContainer {
  position: absolute;
  top: 2px;
  right: 2px;
}

.gameTitle {
  font-family: 'Parisienne';
  font-size: 120px;
  margin: auto;
  font-weight: bold;
}

#homepageTitle, .gameTitle {
  margin-top: 65px;
}

#signupTitle, .gameTitle {
  margin-top: 70px;
}

#loginTitle, .gameTitle {
  margin-top: 70px;
}

#signupFormGrid {
  margin-top: 100px;
}

#signupFormHeader {
  font-family: 'Kurale';
  font-size: 30px;
}

#signupButton {
  font-family: 'Kurale';
  color: black;
  background-color: #A9C4DF;
}

#loginContainerGrid {
  margin-top: 70px;
  margin-left: 100px;
}

#loginContainerHeader {
  font-family: 'Kurale';
  font-size: 30px;
}

#loginFormGrid {
  margin-top: 100px;
}

#loginFormHeader {
  font-family: 'Kurale';
  font-size: 30px;
}

#loginButton {
  font-family: 'Kurale';
  color: black;
  background-color: #A9C4DF;
}

#loginButton:hover {
  background: rgba(169, 196, 223, 0.8);
}

#answerButton {
  font-family: 'Kurale';
  color: black;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 25px;
}

#answerButton:disabled {
  opacity: 1!important;
}

#nextQuestionButton {
  font-family: 'Kurale';
  color: black;
  background-color: #A9C4DF;
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 25px;
  position:absolute;
  top:30%;
  left:0;
}

#scoreContainer {
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 25px;
}

#scoreText {
  font-family: 'Niconne';
  font-size: 30px;
}

#timerContainer {
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 25px;
}

#timerContainer,
#scoreContainer {
  display:inline-block;
  width:40%;
  margin-top:80px;
}

#timerText {
  font-family: 'Niconne';
  font-size: 30px;
}
