.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.ui.form .inline.field>:first-child, .ui.form .inline.fields .field>:first-child {
  margin:0;
}

.ui.form .inline.field>label, .ui.form .inline.field>p, .ui.form .inline.fields .field>label, .ui.form .inline.fields .field>p, .ui.form .inline.fields>label {
  width:290px!important;
  text-align:left;
}

.form-select-container {
  width:100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  background: linear-gradient(#EAC6C6, #3E1C27);
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.formLabel {
  font-family: 'Poiret One';
  font-size: 30px;
}

.selections {
  font-family: 'Poiret One';
  font-size: 20px;
}

#startGameButton {
  font-family: 'Kurale';
  color: black;
  background-color: #A9C4DF;
}

.gameTitle {
  font-family: 'Parisienne';
  font-size: 120px;
  margin: auto;
  margin-top: 70px;
  font-weight: bold;
}

#signupFormGrid {
  margin-top: 100px;
}

#signupFormHeader {
  font-family: 'Kurale';
  font-size: 30px;
}

#signupButton {
  font-family: 'Kurale';
  color: black;
  background-color: #A9C4DF;
}

#loginContainerGrid {
  margin-top: 70px;
  margin-left: 100px;
}

#loginContainerHeader {
  font-family: 'Kurale';
  font-size: 30px;
}

#loginFormGrid {
  margin-top: 100px;
}

#loginFormHeader {
  font-family: 'Kurale';
  font-size: 30px;
}

#loginButton {
  font-family: 'Kurale';
  color: black;
  background-color: #A9C4DF;
}

#loginButton:hover {
  background: rgba(169, 196, 223, 0.8);
}

#scoreContainer {
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 25px;
  width: 150px;
}

#scoreText {
  font-family: 'Niconne';
  font-size: 30px;
}

#timerContainer {
  border-style: solid;
  border-width: medium;
  border-color: black;
  border-radius: 25px;
  width: 275px;
}

#timerText {
  font-family: 'Niconne';
  font-size: 30px;
}
